.checkout {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkoutForm {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background: transparent;
}

.checkoutDetails {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

:global(.ant-btn) {
  border: none !important;
  background-color: white;
  padding: 25px 50px !important;
  border-radius: 5px !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  color: black !important;
  transition: all 0.3s ease;
  letter-spacing: 1px;
}

:global(.ant-btn:hover) {
  background-color: #FFFFFFA6 !important;
}

:global(.ant-input::placeholder),
:global(.ant-input-textarea textarea::placeholder) {
    color: #666;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

:global(.ant-form-item-explain) {
    margin: 2px 0px 5px;
}

:global(.ant-form-item-explain-error) {
    color: #FFFFFFA6 !important;
    font-size: 14px;
    font-weight: 500;
}
